################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/Logger/bin
/Sources/Logger/AppSystemLog
/Sources/Logger/obj
*.user
*.suo
/Sources/.vs/config
